
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    background-color: #191919;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #141616;
    height: 100px;
}
:root{
    --backgoundColor: #1B191B;
    --textColor: #F4F4F4;
    --titleColor: #FFFF;
    --textmobile: 18px;
    --textbase: 20px;
    --titlebase: 30px;
    --titlemobile: 28px
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--backgoundColor);
    color: var(--textColor);
}
header{
    max-width: 604px;
    margin: auto;
    padding: 24px 0px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
section{
    max-width: 650px;
}
span{
    font-size: 15px;
}
h1,h2{
    color: var(--titleColor);
    font-size: var(--titlebase);
}
p{
    font-size: var(--textbase);
}
a{
    color: var(--textColor);
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobileMenu{
    width: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: none;
}
.line1{
    background-color: #F4F4F4;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}
.line2{
    background-color: #F4F4F4;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}
.line3{
    background-color: #F4F4F4;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}
.listLinks{
    display: flex;
    gap: 24px;
}
.activeMenu .listLinks{
    display: flex;
}
@media (max-width: 425px){
    .listLinks{
        display: none;
    }
    .mobileMenu{
        display: flex;
    }
    header{
        padding: 24px 10px;
    }
    section{
        padding: 0px 10px;
    }
    h1,h2{
        font-size: var(--titlemobile);
    }
    p{
        font-size: var(--textmobile);
    }
}
